apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: parlameter-ljubljana
resources:
  - cronjob.yaml
images:
  - name: parlaparser-ljubljana
    newName: rg.fr-par.scw.cloud/djnd/parlaparser-ljubljana
    newTag: '45110337b428e631a057770f585694520db1d47f'
